@use "../utils/mixins";
@use "../utils/colors";

.explorer {
    text-align: center;
    background-color: #f6f6f6;
    padding: 3rem;
    & h2 {
        font-size: 1.5rem;
    }
    & p {
        font-size: 1rem;
        color: colors.$lightgrey;
    }
    & button {
        @include mixins.button;
    }
}





